.always-btn {
  display: none;
  position: fixed;
  padding: 0.8em;
  width: 170px;
  bottom: 3em;
  right: 3em;
  color: #fff;
  background-color: #4dae51;
  border: none;
  border-radius: 3px;
  z-index: 1000;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  transition: color 0.2s;
}

.always-btn:hover {
  color: #222429;
}