/**
* HOW DOES IT WORK
*/
.youtube-video-section {
  margin-top: -200px;
}

.youtube-video__header {
  color: #0069d9;
}

.youtube-video__block {
  max-width: 930px;
  margin: 59px auto 0;
  position: relative;
  padding-bottom: 56%;
  height: 0;
  overflow: hidden;
  border: 15px solid #1e3669;
}

.youtube-video__block iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

/* MEDIA HOW IT WORKS*/
@media (max-width: 599px) {
  .youtube-video-section {
    margin-top: 0px;
  }

  .youtube-video__header {
    font-size: 1.5rem;
  }

  .youtube-video__block {
    margin-top: 2em;
    border: none;
  }
}